@charset "UTF-8";
.item_box{
  width: 65px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #00bbdd;
}

.layout_row{
  display: flex;
  flex-direction: row;
}

.layout_row_reverse{
  display: flex;
  flex-direction: row-reverse;
}

.layout_column{
  display: flex;
  flex-direction: column;
}

.layout_column_reverse{
  display: flex;
  flex-direction: column-reverse;
}