@charset "UTF-8";
.item_box{
  width: 65px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #00bbdd;
}

.layout_row{
  display: flex;
  flex-direction: row;
}

.layout_row_reverse{
  display: flex;
  flex-direction: row-reverse;
}

.layout_column{
  display: flex;
  flex-direction: column;
}

.layout_column_reverse{
  display: flex;
  flex-direction: column-reverse;
}

.layout_not_wrap{
  display: flex;
  flex-wrap: nowrap;
}

.layout_wrap{
  display: flex;
  flex-wrap: wrap;
}

.layout_wrap_reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}

.layout_horizontal_start{
  display: flex;
  justify-content: flex-start;
}

.layout_horizontal_end{
  display: flex;
  justify-content: flex-end;
}

.layout_horizontal_center{
  display: flex;
  justify-content: center;
}

.layout_horizontal_space_between{
  display: flex;
  justify-content: space-between;
}

.layout_horizontal_space_around{
  display: flex;
  justify-content: space-around;
}

.item_box_grid{
  padding: 10px;
  /* text-align: center; */
  color: #fff;
  background-color: #00bbdd;
}

.layout_grid01{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}

.layout_grid02{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.layout_grid03{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  margin-top: 20px;
}

.layout_grid04{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  margin-top: 20px;
}

.red_box{
  grid-column: 1 / 3;
  background-color: #dd0700;
}

.green_box{
  grid-row: 2 / 4;
  background-color: #0bdd00;
}

.yellow_box{
  grid-column: 2 / 4;
  background-color: #d9dd00;
}